/* The deafult theme is based on catpuccin macciatto */
/* I love that color scheme :) */

:root {
	--Text: #cad3f5;
	--Subtext1: #b8c0e0;
	--Subtext0: #a5adcb;
	--Overlay2: #939ab7;
	--Overlay1: #8087a2;
	--Overlay0: #6e738d;
	--Surface2:	#5b6078;
	--Surface1:	#494d64;
	--Surface0: #363a4f;
	--Base: #24273a;
	--Mantle: #1e2030;
	--Crust: #181926;
}

body {
    background-color: var(--Base);
    color: var(--Text);
}

.fira_sans {
    font-family: 'Fira Sans', sans-serif;
}

#tabs button.tab-inactive {
	background-color: var(--Mantle);
}

#tabs button.tab-inactive:hover {
	text-decoration: underline;
	background-color: var(--Surface0);
}


#tabs button.tab-active {
	background-color: var(--Crust);
	cursor: default;
}

#tabs button {
	left: 0px;
	top: 0px;
	float: left;
  	border: none;
	cursor: pointer;
	padding: 40px 65px;
	margin: -8px;
	transition: 0.2s;
}

.tab-contents {
	width: 100%;
	height: calc(100% - 40px);
	background-color: var(--Crust);
	position: absolute;
	left: 0;
	bottom: 0;
}