$bg: #191820;
$surface0: #282733;
$surface1: #383747;
$accent0: #252436;
$accent1: #2e2c44;
$accent2: #373552;
$accent3: #413f61;
$text: #dbdbdb;

#startup-header {
    text-align: center;
    color: #dbdbdb;
}